<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.madchef">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MadChef"
        tools:targetApi="31">
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".LogIn"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp"
            android:exported="true" />
        <activity
            android:name=".SearchMenu"
            android:exported="true" />
        <activity
            android:name=".Profile"
            android:exported="true" />
        <activity
            android:name=".AboutUserActivity"
            android:exported="true" />
        <activity
            android:name=".CookingBook"
            android:exported="true" />
        <activity
            android:name=".CBPreferenceActivity"
            android:exported="true" />
        <activity
            android:name=".CBFavouriteContainer"
            android:exported="true" />
        <activity
            android:name=".Community"
            android:exported="true" />
        <activity
            android:name=".ProfileSetting"
            android:exported="true" />
        <activity
            android:name=".LogOut"
            android:exported="true" />
        <activity
            android:name=".DeleteUser"
            android:exported="true" />
        <activity
            android:name=".meal_planning"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity android:name=".User1"
            android:exported="true"/>
        <activity android:name="User2"
            android:exported="true"/>
        <activity android:name=".User3"
            android:exported="true"/>
        <activity android:name="User4"
            android:exported="true"/>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".post"
            android:exported="true" />
        <activity
            android:name=".AddMealActivity"
            android:exported="true" />
        <activity
            android:name=".RecipeDetailActivity"
            android:exported="true" />
        <activity
            android:name=".filter"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>